@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif !important;
  background-image: url('./assets/mainBG.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@tailwind base;
@tailwind components;
@tailwind utilities;